<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="../static/fonts/Feather/feather.css">
    <link rel="stylesheet" href="../static/libs/flickity/dist/flickity.min.css">
    <link rel="stylesheet" href="../static/libs/flickity-fade/flickity-fade.css">
    <link rel="stylesheet" href="../static/libs/aos/dist/aos.css">
    <link rel="stylesheet" href="../static/libs/jarallax/dist/jarallax.css">
    <link rel="stylesheet" href="../static/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="../static/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../static/css/theme.min.css">

    <title>Nada Ibrahim</title>
  </head>
  <body>
    <section class="navigation">
    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light overlay">
        <div class="container">
            
            <!-- Brand -->
          <a class="navbar-brand" href="/">
            <img src="../static/img/namelogo.png" class="navbar-brand-img" alt="...">
          </a>
          
          <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
  
          <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
  
            <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fe fe-x"></i>
                 </button>
  
           <!-- Navigation -->
           <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a href="mailto:nadaibrhm96@gmail.com" target="_top" class="text-decoration-none">
                <img src="../static/img/email.png" class="list-social-icon" alt="..." style="margin-top: 10px; margin-left: 10px;">
              </a>
            </li>

              <li class="nav-item dropdown">
                <a href="https://github.com/nawdah" class="text-decoration-none">
                  <img src="../static/img/github.png" class="list-social-icon" alt="..." style="margin-top: 10px; margin-left: 10px;">
                </a>
              </li>
              <li class="nav-item dropdown">
                <a href="https://www.linkedin.com/in/nadaibrahim96/" class="text-decoration-none">
                  <img src="../static/img/linkedin.png" class="list-social-icon" alt="..." style="margin-top: 10px; margin-left: 10px;">
                </a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarLandings" href="about" aria-haspopup="true">
                      About
                  </a>
              </li>
          </ul> 
            </div>
  
        </div>
      </nav>
    </section>

    <!-- CONTENT
    ================================================== -->
    <section class="pt-8 pt-md-11">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md">
              
              <!-- Link -->
              <a href="/" class="font-weight-bold font-size-sm text-decoration-none mb-3">
                <i class="fe fe-arrow-left mr-3"></i> Go Back
              </a>
  
              <!-- Heading -->
              <h1 class="display-4 mb-2">
                HomeSlice
              </h1>
  
              <!-- Text -->
              <p class="font-size-lg text-gray-700 mb-5 mb-md-0">
                April 2020
              </p>
  
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-12">
              
              <!-- Divider -->
              <hr class="my-6 my-md-8 border-gray-300">
  
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-12 col-md-8">
              
              <!-- Heading -->
              <h2>
                Proposal
              </h2>
  
              <!-- Text -->
              <p class="text-gray-800 mb-6 mb-md-8">
                  Our goal is to provide seamless cash to homeowners while democratizing real estate investing. No monthly principal payments, no interest.
                <br>
                <br>
                  Even a homeowner, individuals can fall on hard times and need cash fast. Inversely, investing in real estate is capital intensive and often reserved for more sophisticated investment professionals. What if there's another way to diversify your portfolio? Welcome to HomeSlice.
              </p>

              <h2>
                  Tools
              </h2>


              <section class="pt-3 pt-md-3">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-12 col-lg-11 col-xl-10">
          
                      <!-- Slider -->
                      <div data-flickity='{"wrapAround": true, "pageDots": false, "imagesLoaded": true, "adaptiveHeight": true}'>
                        <div class="w-100">
                          <img src="../static/img/html-css-js.png" alt="..." class="img-fluid rounded-lg">
                        </div>
                        <div class="w-100">
                            <img src="../static/img/tableau.jpg" alt="..." class="img-fluid rounded-lg">
                          </div>
                        <div class="w-100">
                            <img src="../static/img/aws-logo.png" alt="..." class="img-fluid rounded-lg" style="height: 50%; width:50%; display: block;margin-left: auto;
                            margin-right: auto;">
                        </div>
                        <div class="w-100">
                          <img src="../static/img/pgadmin.png" alt="..." class="img-fluid rounded-lg" style="height: 50%; width:50%; display: block;margin-left: auto;
                          margin-right: auto;">
                        </div>
                        <div class="w-100">
                            <img src="../static/img/python.png" alt="..." class="img-fluid rounded-lg" style="height: 50%; width:50%; display: block;margin-left: auto;
                            margin-right: auto;">
                        </div>
                      </div>
          
                    </div>
                  </div> <!-- / .row -->
                </div> <!-- / .container -->
              </section>
  
              <!-- Heading -->
              <h2 class="mt-7">
                Data Flow
              </h2>

              <figure class="figure mb-7">

                <!-- Image -->
                <img class="figure-img img-fluid rounded lift lift-lg" src="../static/img/dataflow.png" alt="...">
              </figure>

  
              <!-- Text -->
              <p class="text-gray-800 mb-6 mb-md-8">
                  Essentially, when a user enters our website, they will be instructed to input their address that they are interested in selling a share of.
              </p>
              <p>Our application communicates with the backend to produce the value of their home, as listed from Zillow, and what we can offer you upon selling. </p>

              <h2>
                  Backend
              </h2>
              <figure class="figure mb-7">

                <!-- Image -->
                <img class="figure-img img-fluid rounded lift lift-lg" src="../static/img/backend.png" alt="...">
              </figure>
              
              <p class="text-gray-800 mb-6 mb-md-8">
                In order to communicate between the frontend and backend, we needed to incorporate Flask that allowed for functionality of our data. Our database was generated from the Zillow API, which we plan on expanding to get a larger range of data. 
              </p>
              <p class="text-gray-800 mb-6 mb-md-8">In Python, we used the data recieved from Zillow, cleaned it to fit our needs, and hosted the data on AWS.</p>
              <p class="text-gray-800 mb-6 mb-md-8">
                  We generated our own algorithm to determine how much of a cash offer a homeowner would recieve. For now, the determining factor was a time series analysis based off of 12 years of median sales prices by zipcode. 
              </p>
              <p class="text-gray-800 mb-6 mb-md-8">
                  We incorporated a logistic regression to showcase if the home was a risky investment or not, with a 99% prediction accurancy.
              </p>

              <h2>
                Frontend
              </h2>

              <figure class="figure mb-7">

                <!-- Image -->
                <img class="figure-img img-fluid rounded lift lift-lg" src="../static/img/frontend.png" alt="...">
              </figure>
            
               <p class="text-gray-800 mb-6 mb-md-8">
                   Incorporating the Flask aspect, we were able to redirect links to their respective html pages. The functionality of the website was heavily used with Bootstrap to remain responsive across multiple devices. 
               </p>
               <p class="text-gray-800 mb-6 mb-md-8">Typed.js and Isotope.js were prominent JavaScript libraries that we utilized. HTML form submission attributes were required to connect from the frontend to the backend.</p>
               <p class="text-gray-800 mb-6 mb-md-8">
                   Our submission forms were capable of taking in user data and creating a backend database through PostgreSQL. This information allowed us to generate a Tableau dashboard of which property were logged in and to visually see whether this was a risky or solid investment. 
               </p>
               <p class="text-gray-800 mb-6 mb-md-8">Our submission form also takes in user data when they signup in order to create an account profile. In later versions of this venture, we will be creating accounts for buyers and sellers, both featuring dashboards to track investments.</p>
               <h3>You can checkout <a href="http://www.homeslicetoday.com/">HomeSlice</a> for yourself</h3>
               <br>
               <br>
               <br>
            </div>
            <div class="col-12 col-md-4">
              
              <!-- Card -->
              <div class="card shadow-light-lg mb-5">
                <div class="card-body">
                  
                  <!-- Heading -->
                   <h4>
                      Team
                   </h4>
  
                  <!-- Text -->
                  <p class="font-size-sm text-gray-800 mb-5">
                      <a href="https://www.linkedin.com/in/burgosjeffrey/">Jeffrey Burgos</a>
                  </p>
                  <p class="font-size-sm text-gray-800 mb-5">
                    <a href="https://www.linkedin.com/in/collins-mokaya-91abb052/">Collins Mokaya</a>
                  </p>
                  <p class="font-size-sm text-gray-800 mb-5">
                    <a href="https://www.linkedin.com/in/dan-bishop-65601170/">Dan Bishop</a>
                  </p>
                  <p class="font-size-sm text-gray-800 mb-0">
                    <a href="https://www.linkedin.com/in/nadaibrahim96/">Nada Ibrahim</a>
                  </p> 
                </div>
              </div>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </section>
  

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>
    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="../static/libs/jquery/dist/jquery.min.js"></script>
    <script src="../static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/libs/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="../static/libs/flickity-fade/flickity-fade.js"></script>
    <script src="../static/libs/aos/dist/aos.js"></script>
    <script src="../static/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="../static/libs/jarallax/dist/jarallax.min.js"></script>
    <script src="../static/libs/jarallax/dist/jarallax-video.min.js"></script>
    <script src="../static/libs/jarallax/dist/jarallax-element.min.js"></script>
    <script src="../static/libs/typed.js/lib/typed.min.js"></script>
    <script src="../static/libs/countup.js/dist/countUp.min.js"></script>
    <script src="../static/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="../static/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="../static/libs/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="../static/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>

    <!-- Theme JS -->
    <script src="../static/js/theme.min.js"></script>


  </body>
</html>
