<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="../static/fonts/Feather/feather.css">
    <link rel="stylesheet" href="../static/libs/flickity/dist/flickity.min.css">
    <link rel="stylesheet" href="../static/libs/flickity-fade/flickity-fade.css">
    <link rel="stylesheet" href="../static/libs/aos/dist/aos.css">
    <link rel="stylesheet" href="../static/libs/jarallax/dist/jarallax.css">
    <link rel="stylesheet" href="../static/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="../static/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../static/css/theme.min.css">

    <title>Nada Ibrahim</title>
  </head>
  <body>
    <section class="navigation">
    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light overlay">
        <div class="container">
            
            <!-- Brand -->
          <a class="navbar-brand" href="/">
            <img src="../static/img/namelogo.png" class="navbar-brand-img" alt="...">
          </a>
          
          <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
  
          <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
  
            <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fe fe-x"></i>
                 </button>
  
            <!-- Navigation -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a href="mailto:nadaibrhm96@gmail.com" target="_top" class="text-decoration-none">
                    <img src="../static/img/email.png" class="list-social-icon" alt="..." style="margin-top: 10px; margin-left: 10px;">
                  </a>
                </li>

                  <li class="nav-item dropdown">
                    <a href="https://github.com/nawdah" class="text-decoration-none">
                      <img src="../static/img/github.png" class="list-social-icon" alt="..." style="margin-top: 10px; margin-left: 10px;">
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="https://www.linkedin.com/in/nadaibrahim96/" class="text-decoration-none">
                      <img src="../static/img/linkedin.png" class="list-social-icon" alt="..." style="margin-top: 10px; margin-left: 10px;">
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarLandings" href="about" aria-haspopup="true">
                          About
                      </a>
                  </li>
              </ul>  
            </div>
  
        </div>
      </nav>
    </section>

    <!-- CONTENT
    ================================================== -->
    <section class="pt-8 pt-md-11">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md">
                
                    <!-- Link -->
                    <a href="/" class="font-weight-bold font-size-sm text-decoration-none mb-3">
                        <i class="fe fe-arrow-left mr-3"></i> Go Back
                    </a>
        
                    <!-- Heading -->
                    <h1 class="display-4 mb-2">
                        Stellar Photometry and the Color-Magnitude Diagram
                    </h1>
        
                    <!-- Text -->
                    <p class="font-size-lg text-gray-700 mb-5 mb-md-0">
                        Observing: November 12th, 2017
                    </p>
        
                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-12">
                    
                    <!-- Divider -->
                    <hr class="my-6 my-md-8 border-gray-300">
        
                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-12 col-md-8">
                    
                    <!-- Heading -->
                    <h2>
                        Purpose
                    </h2>
        
                    <!-- Text -->
                    <p class="text-gray-800 mb-6 mb-md-8">
                        Because stars are near perfect black-bodies, the radiation they emit and the color we perceive of these stars help us determine many characteristics that they possess. Since the design of the Hertzsprung-Russell, or the color-magnitude, diagram was made, classifying stars based on stellar properties, structure, and evolution is much easier than before. We are here to determine the B and V magnitudes of stars in the open cluster M34. We will also construct an H-R diagram to determine the cluster’s distance and age.                    
                    </p>

                    <h2>
                        Preparation and Planning:
                    </h2>

                    <p class="text-gray-800 mb-6 mb-md-8">
                        The temperature of Sunday, November 12th, 2017, was in the low 30 degrees Fahrenheit. Weather visibility was permissible to allow observations that night. Observations occurred under a Waning crescent Moon.
                    </p>
        
                    <!-- Heading -->
                    <h2 class="mt-7">
                        Observations
                    </h2>
        
                    <!-- Text -->
                    <p class="text-gray-800 mb-6 mb-md-8">
                        M34 was our chosen target. Focus stars were chosen and seven, five-second exposures were taken with a change in the mirror micrometer by 0.05 mm. This was done to focus the telescope onto our target.                      
                    </p>

                    <h2>
                        Data Analysis - Photometry: 
                    </h2>
                    
                    <p class="text-gray-800 mb-6 mb-md-8">
                        Once the FlatV.FIT and FlatB.FIT images were created in the IDL program mkflatru, the images were processed and three images were produced as shown below. The calibrated image subtracted the effects due to the vignetting and trapped dust which resulted in evenly bright images.
                    </p>
                    <div class="form-row">
                         <div class="col-6">
          
                          <!-- Image -->
                          <a class="d-block mb-4 lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/space1.PNG">
                            <img src="../static/img/space1.PNG" alt="..." class="img-fluid rounded">
                          </a>
                          <a class="d-block mb-4 lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/space2.PNG">
                            <img src="../static/img/space2.PNG" alt="..." class="img-fluid rounded">
                          </a>
                          <a class="d-block lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/space3.PNG">
                            <img src="../static/img/space3.PNG" alt="..." class="img-fluid rounded">
                          </a>
          
                        </div>
                        <div class="col-6">
          
                          <!-- Image -->
                          <a class="d-block mb-4 lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/space4.PNG">
                            <img src="../static/img/space4.PNG" alt="..." class="img-fluid rounded">
                          </a>
          
                          <!-- Image -->
                          <a class="d-block mb-4 lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/space5.PNG">
                            <img src="../static/img/space5.PNG" alt="..." class="img-fluid rounded">
                          </a>
                          <a class="d-block lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/space6.PNG">
                            <img src="../static/img/space6.PNG" alt="..." class="img-fluid rounded">
                          </a>
          
                        </div>
                      </div> <!-- / .row -->
                      <br>
                      <p class="text-gray-800 mb-6 mb-md-8">
                        The first three images are M34v7-45, where the FWHM for the blue circled star is 3.8 pix and red circled star is 4.0; M34v7-07 FWHM for the blue circled star is 5.0 pix and the red circled star is 4.3 pix; and M34v7-300 FWHM for the blue  circled star is 3.1 pix and for the red circled star is 4.3 pix. 
                      </p>
                      <p class="text-gray-800 mb-6 mb-md-8">
                        The second set of three images are M34b7. For the 7 second exposure the FWHM for the star labeled in red is 3.8 pix, the blue is 3.8 pix, and the yellow is 3.4 pix. For the 300 second exposure, the red is 5.2 pix, blue is 7.6 pix and yellow is 9.5 pix. For the 45 second exposure, the FWHM for the red is 3.8 pix, blue is 3.9 pix, and yellow is 3.8 pix. 
                      </p>
                      <p class="text-gray-800 mb-6 mb-md-8">
                        Once we run the daophot program for each image and then visualize the subtracted counterparts to the original image, the stars have been subtracted well by the allstar program. 
                        <br>
                        <br>
                        Attached below are the six subtracted images:
                      </p>

                      <div class="form-row">
                        <div class="col-6">
         
                         <!-- Image -->
                         <a class="d-block mb-4 lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/reduced1.PNG">
                           <img src="../static/img/reduced1.PNG" alt="..." class="img-fluid rounded">
                         </a>
                         <a class="d-block mb-4 lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/reduced2.PNG">
                           <img src="../static/img/reduced2.PNG" alt="..." class="img-fluid rounded">
                         </a>
                         <a class="d-block lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/reduced3.PNG">
                           <img src="../static/img/reduced3.PNG" alt="..." class="img-fluid rounded">
                         </a>
         
                       </div>
                       <div class="col-6">
         
                         <!-- Image -->
                         <a class="d-block mb-4 lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/reduced4.PNG">
                           <img src="../static/img/reduced4.PNG" alt="..." class="img-fluid rounded">
                         </a>
         
                         <!-- Image -->
                         <a class="d-block mb-4 lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/reduced5.PNG">
                           <img src="../static/img/reduced5.PNG" alt="..." class="img-fluid rounded">
                         </a>
                         <a class="d-block lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/reduced6.PNG">
                           <img src="../static/img/reduced6.PNG" alt="..." class="img-fluid rounded">
                         </a>
                       </div>
                     </div> <!-- / .row -->
                     <br>
                     <br>

                     <h2>
                        Data Analysis - Transformation from Instrumental to Standard Magnitudes:
                     </h2>

                     <p class="text-gray-800 mb-6 mb-md-8">
                        These are the graphs compiled from the V-v vs B-V graph, and the B-V vs b-v as labeled accordingly. The charts were created on Excel using the data retrieved from the subtracted images. 
                     </p>

                     <div class="form-row">
                        <div class="col-6">
         
                         <!-- Image -->
                         <a class="d-block mb-4 lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/vvbv.PNG">
                           <img src="../static/img/vvbv.PNG" alt="..." class="img-fluid rounded">
                         </a>         
                       </div>
                       <div class="col-6">
         
                         <!-- Image -->
                         <a class="d-block mb-4 lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="../static/img/bvbv.PNG">
                           <img src="../static/img/bvbv.PNG" alt="..." class="img-fluid rounded">
                         </a>
                       </div>
                     </div> <!-- / .row -->

                     <h2>
                         Data Analysis - The H-R Diagram:
                     </h2>
            

                    <p class="text-gray-800 mb-6 mb-md-8">                    
                        The graphs plotted above illustrate the H-R Diagram classification for stars. The V-v vs B-V graph shows a trend line that best fits the main sequence. Points to the top-left  would be considered high-mass that also emit a high luminosity. The bottom-right points would be low-mass stars. Our Sun would be considered a main sequence star, shown in the middle of the main sequence line. 
                    </p>
                    <p class="text-gray-800 mb-6 mb-md-8">
                        The b-v vs B-V graph shows the relationship of stars that diverge away from the main sequence and complete the rest of their stellar evolution. Points to the top-left would be high-mass stars that have become Red Giants. Points to the bottom-left would illustrate low-mass stars that have become white-dwarves. These stars are almost complete in their stellar evolution. The higher the mass, the more likely these stars will experience a stellar nebula. 
                    </p>
                </div>
            </div>
        </div>
    </section>
  

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>
    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="../static/libs/jquery/dist/jquery.min.js"></script>
    <script src="../static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/libs/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="../static/libs/flickity-fade/flickity-fade.js"></script>
    <script src="../static/libs/aos/dist/aos.js"></script>
    <script src="../static/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="../static/libs/jarallax/dist/jarallax.min.js"></script>
    <script src="../static/libs/jarallax/dist/jarallax-video.min.js"></script>
    <script src="../static/libs/jarallax/dist/jarallax-element.min.js"></script>
    <script src="../static/libs/typed.js/lib/typed.min.js"></script>
    <script src="../static/libs/countup.js/dist/countUp.min.js"></script>
    <script src="../static/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="../static/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="../static/libs/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="../static/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>

    <!-- Theme JS -->
    <script src="../static/js/theme.min.js"></script>


  </body>
</html>
